<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sistema de libros | Autores de los libros</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
    <script src="https://kit.fontawesome.com/ac46df2686.js" crossorigin="anonymous"></script>
</head>

<body ng-app="App" ng-controller="Ctrl" ng-init='ListAuthorbooks()'>
    <!-- Barra de navegacion-->
    <nav class="navbar navbar-light bg-light">
        <a class="navbar-brand" href="#">Menu</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="authors.html"><i class="fa fa-file-word-o" aria-hidden="true"></i>
                        Autores</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="book.html"><i class="fa fa-book" aria-hidden="true"></i> Libros</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="authorbook.html"><i class="fa fa-address-card" aria-hidden="true"></i>
                        Autores de los libros</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="user.html"><i class="fa fa-user" aria-hidden="true"></i> Usuarios</a>
                </li>
            </ul>
            <form class="form-inline">
                <button class="btn btn-outline-danger my-2 my-sm-0" ng-click="Logout()"><i class="fa fa-sign-in"
                        aria-hidden="true"></i> Cerrar sesion</button>
            </form>
        </div>
    </nav>
    <table class="table">
        <thead>
            <th>ID</th>
            <th>ID del autor</th>
            <th>ID del libro</th>
            <th>Acciones</th>
        </thead>
        <tbody>
            <tr ng-repeat="authorbook in registros">
                <td>{{authorbook._id}}</td>
                <td>{{authorbook.author}}</td>
                <td>{{authorbook.book}}</td>
                <td><button class="btn btn-danger" ng-click="modalBorrar(authorbook)" data-toggle="modal"
                        data-target="#DeleteAuthorbook"><i class="fas fa-trash-alt"></i></button></td>
                <td><button class="btn btn-info" ng-click="modalUpdate(authorbook)" data-toggle="modal"
                        data-target="#UpdateAuthorbook"><i class="fas fa-edit"></i></button></td>
            </tr>
        </tbody>
    </table>
    <!-- Modal -->
    <div class="modal fade" id="NewAuthorbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Registrar un nuevo autor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Id del author</label>
                            <input ng-model="authorbook.author" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Id del libro</label>
                            <input ng-model="authorbook.book" type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"
                        ng-click="SaveAuthorbook(authorbook)">Registrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal Editar author -->
    <div class="modal fade" id="UpdateAuthorbook" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Editar un autor</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Id del autor</label>
                            <input ng-model="authorbook.author" type="text" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Id del libro</label>
                            <input ng-model="authorbook.book" type="text" class="form-control">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="button" class="btn btn-primary"
                        ng-click="UpdateAuthorbook(authorbook)">Actualizar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal boton de borrar-->
    <div class="modal" tabindex="-1" id="DeleteAuthorbook">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Deceas eliminar este author</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Esta accion no se puede deshacer, Desea eliminarlo?</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                    <button type="button" class="btn btn-primary" ng-click="BorrarAuthorbook()">Eliminar</button>
                </div>
            </div>
        </div>
    </div>

    <script src="./js/jquery-3.5.1.slim.min.js"></script>
    <script src="./js/popper.min.js"></script>
    <script src="./js/bootstrap.js"></script>
    <script src="./js/angular.min.js"></script>
    <script src="./js/authorbook.js"></script>
    <script type="text/javascript">
        const boton = document.createElement("button");
        boton.innerHTML = "<i class='fa fa-plus fa-2x'></i>";
        boton.setAttribute("data-toggle", "modal");
        boton.setAttribute("data-target", "#NewAuthorbook");
        boton.className = "btn btn-info"
        boton.style = "bottom:50px;right:50px;position:fixed;z-index:9999;"
        document.body.appendChild(boton);
    </script>
</body>

</html>